
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tasks.json

.idea/
*.swp
*.swo

*.log
*.tmp
*.temp
tmp/
temp/
cache/
.storage/

/vendor/
composer.phar

.env
.env.*
!.env.example

*.pid
